$white: #ffffff;
$black: #000000;
$page-background-color: #fefcfa;
$main-block-background-mobile: #fdfaf5;
$text-color: #122659;
$location-text-color: #677085;
$special-color-1: #fdd787;
$special-color-2: #8dd9e5;
$special-color-3: #feb9cc;
$groups-background: #f7fafc;
$map-background: #f4efe3;
$tablet-width: 1200px;
$mobile-width: 767px;
